[submodule "site-lisp/evil-plugins"]
	path = site-lisp/evil-plugins
	url = https://github.com/tarao/evil-plugins
[submodule "snippets/ruby-mode"]
	path = snippets/ruby-mode
	url = https://github.com/bmaland/yasnippet-ruby-mode
