[submodule "site-lisp/evil-plugins"]
	path = site-lisp/evil-plugins
	url = https://github.com/tarao/evil-plugins
[submodule "snippets/ruby-mode"]
	path = snippets/ruby-mode
	url = https://github.com/bmaland/yasnippet-ruby-mode
[submodule "helm-persp"]
	path = site-lisp/helm-persp
	url = https://gist.github.com/304ada85c9ba15013303.git
[submodule "themes/btcsb"]
	path = themes/btcsb
	url = http://git.korewanetadesu.com/BTCSB-emacs-theme.git
