[submodule "snippets/ruby-mode"]
	path = snippets/ruby-mode
	url = https://github.com/bmaland/yasnippet-ruby-mode
[submodule "helm-persp"]
	path = site-lisp/helm-persp
	url = https://gist.github.com/304ada85c9ba15013303.git
[submodule "themes/btcsb"]
	path = themes/btcsb
	url = http://git.korewanetadesu.com/BTCSB-emacs-theme.git
[submodule "site-lisp/kq-mode"]
	path = site-lisp/kq-mode
	url = https://github.com/geocar/kq-mode
[submodule "site-lisp/org-web-tools"]
	path = site-lisp/org-web-tools
	url = https://github.com/alphapapa/org-web-tools
[submodule "site-lisp/evil-plugins"]
	path = site-lisp/evil-plugins
	url = https://github.com/tarao/evil-plugins
[submodule "site-lisp/ruby-complexity"]
	path = site-lisp/ruby-complexity
	url = https://github.com/jsmestad/ruby-complexity
[submodule "site-lisp/flay"]
	path = site-lisp/flay
	url = https://www.github.com/ruin0x11/flay.el
[submodule "site-lisp/helm-fd"]
	path = site-lisp/helm-fd
	url = https://www.github.com/ruin0x11/helm-fd
[submodule "site-lisp/downdraft"]
	path = site-lisp/downdraft
	url = https://github.com/ruin0x11/downdraft
[submodule "site-lisp/janet-mode"]
	path = site-lisp/janet-mode
	url = https://github.com/ruin0x11/janet-mode
[submodule "themes/spacemacs-theme"]
	path = themes/spacemacs-theme
	url = https://github.com/nashamri/spacemacs-theme
